@import ~jquery.terminal/css/jquery.terminal.min.css
@import ~simplebar/dist/simplebar.min.css
@import ~metro4/build/css/metro-all.min.css
@import ~@fortawesome/fontawesome-free/css/all.min.css
@import ../../assets/css/contextMenu.min.css
@import ide_closed
@import simpleBar

=shadow($property)
  box-shadow: $property
  -moz-box-shadow: $property
  -o-box-shadow: $property
  -webkit-box-shadow: $property

=transform($property)
  transform: $property
  -moz-transform: $property
  -ms-transform: $property
  -o-transform: $property
  -webkit-transform: $property

=text_select($property)
  -webkit-touch-callout: $property !important
  -webkit-user-select: $property !important
  -khtml-user-select: $property !important
  -moz-user-select: $property !important
  -ms-user-select: $property !important
  user-select: $property !important

.thin-menu , .directory-structure , .editor-tabs , a
  cursor: default !important
  +text_select(none)
.z-i-9
  z-index: 9 !important
.size-0
  +transform(scale(0))
.font-italic
  font-style: italic !important
.font-bold
  font-weight: 700 !important
.opacity-m
  opacity: 0.5 !important
main , .container-fluid , body , html
  height: 100%
  overflow: hidden !important
.app-bar.thin-menu
  min-height: 30px !important
  position: relative !important
  background-color: #1c2731
  .app-bar-menu
    li
      line-height: 29px !important
      a
        font-size: 12px !important
        padding: 0 6px !important
        line-height: 29px !important
.ide-content
  height: calc(100% - 90px)
  &.terminal-size
    height: calc(100% - 290px) !important
  background-color: #172028
.thin-menu.top-menu
  border-bottom: 1px solid #172028
.thin-menu.bottom-menu
  border-top: 1px solid #172028
  border-bottom: 1px solid rgba(255,255,255,0.1)
.code-editor
  height: calc(100% - 34px) !important
  .editor
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    .child
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      &.active
        z-index: 999999 !important
.ace-monokai
  background-color: #131a20 !important
  .ace_tooltip
    background-color: #1c2731 !important
    border: 1px solid rgba(255, 255, 255, 0.1) !important
    border-radius: 0 !important
    color: #ffffff !important
    padding: 15px !important
  .ace_gutter
    background-color: #172028 !important
  .ace_marker-layer
    .ace_selection
      background: rgba(0, 102, 255 , 0.4) !important
    .ace_active-line
      background: rgba(255,255,255,0.1) !important
  .ace_gutter-active-line
    background: rgba(255,255,255,0.1) !important
.app-bar-expand
  .app-bar-menu
    .d-menu
      background-color: #1c2731 !important
      border: 1px solid rgba(255,255,255,0.1)
      min-width: 250px
      +shadow(none !important)
      li , a
        height: 30px !important
.window
  z-index: 999999999999 !important
  border: none !important
  background-color: #1c2731 !important
.window-caption
  background-color: #1c2731 !important
.window-content
  overflow: hidden !important
.input-material input
  color: #ffffff !important
.custom-btn-close:hover
  background-color: #d22424 !important
.ng-view
  height: 100% !important
.list-style-none
  list-style: none !important
.directory-structure
  background-color: #1c2731
  li
    min-width: 300px
  li:not(.Directory)
    span
      white-space: nowrap !important
  li.dir
    i.mif-chevron-thin-down
      display: none
  li.dir.collapsed
    i.mif-chevron-thin-right
      display: none
    i.mif-chevron-thin-down
      display: inline-block !important
  li.li-selected
    background-color: #117ae3 !important
  .database.collapsed:before , .Directory.collapsed:before
    content: "\e69b" !important
  .database:before , .Directory:before
    content: "\e66b"
    font-family: 'metro' !important
    margin-left: -7px
    margin-right: 5px
  ul
    font-size: 13px
    img
      width: 20px
      margin-bottom: 3px
      height: 20px
.iw-cm-arrow-right
  border-left: 5px solid #ffffff !important
.iw-cm-menu
  background: #1c2731 !important
  color: #ffffff !important
  width: 250px !important
  border: 1px solid rgba(255,255,255,0.1) !important
  z-index: 9999999 !important
  li
    border-bottom: none !important
    font-size: 12px !important
    cursor: default !important
.iw-mSelected
  background-color: #117ae3 !important
.iw-mDisable
  .iw-mOverlay
    background: transparent !important
.iw-mIcon
  margin-left: 5px !important
.editor-tabs
  background-color: #1c2731
  border-left: 1px solid #172028
  li
    border-bottom: 2px solid transparent
    span.name
      font-weight: 100
      white-space: nowrap !important
    img
      width: 20px
      height: 20px
  li.active
    border-bottom: 2px solid #2f82ff !important
.event-badge
  position: relative !important
  display: initial !important
  border-radius: 50px !important
  border-bottom-right-radius: 0 !important
[data-position="bottom-app-bar"]
  width: 100px !important
.progress
  background-color: rgba(255,255,255,0.3) !important
  &.line:before , .bar
      background-color: #ffffff !important
      border-radius: 4px !important
.close-tab
  color: rgba(255,255,255,0.4) !important
  &:hover
    color: #f24848 !important
a:hover
  text-decoration: none !important
/* New Project SASS
.new_project
  .repositories_list
    li
      background-color: rgba(255, 255, 255, 0.1)
      cursor: default !important
    li.active
      background-color: #117ae3 !important
  input
    color: #ffffff !important
  div[disabled="disabled"]
    opacity: 0.4
  img
    width: 30px
li[data-text=""]
  display: none !important
/* Close Project SASS
.close_project
  img
    width: 30px
    margin-bottom: 7px
  .database_list
    li
      background-color: rgba(255,255,255,0.1)
      cursor: default !important
      &.active
        background-color: #117ae3 !important
  .files_list
    li
      background-color: rgba(255,255,255,0.1)
      cursor: default !important
      &.active
        background-color: #117ae3 !important
/* Terminal SASS
.terminal-app
  height: 200px
  .terminal-body
    height: calc(100% - 30px) !important
    .child
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      &.active
        z-index: 999999 !important
  #terminal-app-bar
    li:not(.n-hover):hover
      background-color: rgba(255,255,255,0.1)
    div
      display: inline-block
    .terminal-tabs
      li.active
        border-bottom: 1px solid #d4d4d4
        .close-terminal
          color: rgba(255, 255, 255, 0.4)
/* Editor SASS
.ace_scrollbar-inner
  cursor: default !important
.ace_scroller
  right: 0 !important
  &.ace_scroll-left
    box-shadow: none !important
.ace_scrollbar
  &.ace_scrollbar-v
    margin-right: -14px !important
    height: 100% !important
    margin-left: auto !important
    width: 26px !important
    .simplebar-track.simplebar-horizontal
      display: none !important
  &.ace_scrollbar-h
    height: 26px !important
    bottom: -18px !important
    position: absolute !important
    .simplebar-track.simplebar-vertical
      display: none !important