.p-5
    form(name="newDirectoryForm" novalidate)
        input.fg-white(type="text" data-role="materialinput"
            placeholder="Enter Your Directory Name" ng-model="directory_name"
            name="name" required directory-validation)
        small.fg-red(ng-show="newDirectoryForm.name.$dirty && newDirectoryForm.name.$error.required") Name can not be empty
        br
        small.fg-red(ng-show="newDirectoryForm.name.$dirty && newDirectoryForm.name.$invalid") Name is invalid
    button.button.primary.mt-5.float-right.rounded(ng-click="createDirectory()"
        ng-disabled="newDirectoryForm.name.$invalid") Create