.p-5
    form(name="newExeFileForm" novalidate)
        input.fg-white(type="text" data-role="materialinput"
            placeholder="Enter Your File Name" ng-model="file_name"
            name="name" required file-validation)
        small.fg-red(ng-show="newExeFileForm.name.$dirty && newExeFileForm.name.$error.required") Name can not be empty
        br
        small.fg-red(ng-show="newExeFileForm.name.$dirty && newExeFileForm.name.$invalid") Name is invalid
    button.button.primary.mt-5.float-right.rounded(ng-click="createExeFile()"
        ng-disabled="newExeFileForm.name.$invalid") Create