.p-5.fg-white
    span {{caption}}
    .d-flex.flex-align-center
        .mr-4(data-role="progress" data-type="line" data-small="true")
        button.button.primary.outline.fg-white.rounded(ng-click="cancelProc()") Cancel
    small {{message}}