@charset "UTF-8";

.thin-menu,
.directory-structure,
.editor-tabs,
a {
  cursor: default !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.z-i-9 {
  z-index: 9 !important;
}

.size-0 {
  transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
}

.font-italic {
  font-style: italic !important;
}

.font-bold {
  font-weight: 700 !important;
}

main,
.container-fluid,
body,
html {
  height: 100%;
}

.app-bar.thin-menu {
  min-height: 30px !important;
  position: relative !important;
  background-color: #1c2731;
}

.app-bar.thin-menu .app-bar-menu li {
  line-height: 29px !important;
}

.app-bar.thin-menu .app-bar-menu li a {
  font-size: 12px !important;
  padding: 0 6px !important;
  line-height: 29px !important;
}

.ide-content {
  height: calc(100% - 90px);
  background-color: #172028;
}

.thin-menu.top-menu {
  border-bottom: 1px solid #172028;
}

.thin-menu.bottom-menu {
  border-top: 1px solid #172028;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.code-editor {
  height: calc(100% - 34px) !important;
}

.code-editor .editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.code-editor .editor .child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.code-editor .editor .child.active {
  z-index: 999999 !important;
}

.ace-monokai {
  background-color: #131a20 !important;
}

.ace-monokai .ace_tooltip {
  background-color: #1c2731 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 0 !important;
  color: #ffffff !important;
  padding: 15px !important;
}

.ace-monokai .ace_gutter {
  background-color: #172028 !important;
}

.ace-monokai .ace_marker-layer .ace_selection {
  background: rgba(0, 102, 255, 0.4) !important;
}

.ace-monokai .ace_marker-layer .ace_active-line {
  background: rgba(255, 255, 255, 0.1) !important;
}

.ace-monokai .ace_gutter-active-line {
  background: rgba(255, 255, 255, 0.1) !important;
}

.app-bar-expand .app-bar-menu .d-menu {
  background-color: #1c2731 !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  min-width: 250px;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.app-bar-expand .app-bar-menu .d-menu li,
.app-bar-expand .app-bar-menu .d-menu a {
  height: 30px !important;
}

.window {
  z-index: 999999999999 !important;
  border: none !important;
  background-color: #1c2731 !important;
}

.window-caption {
  background-color: #1c2731 !important;
}

.window-content {
  overflow: hidden !important;
}

.input-material input {
  color: #ffffff !important;
}

.custom-btn-close:hover {
  background-color: #d22424 !important;
}

.ng-view {
  height: 100% !important;
}

.list-style-none {
  list-style: none !important;
}

.directory-structure {
  background-color: #1c2731;
}

.directory-structure li {
  min-width: 300px;
}

.directory-structure li:not(.Directory) span {
  white-space: nowrap !important;
}

.directory-structure li.dir i.mif-chevron-thin-down {
  display: none;
}

.directory-structure li.dir.collapsed i.mif-chevron-thin-right {
  display: none;
}

.directory-structure li.dir.collapsed i.mif-chevron-thin-down {
  display: inline-block !important;
}

.directory-structure li.li-selected {
  background-color: #117ae3 !important;
}

.directory-structure .database.collapsed:before,
.directory-structure .Directory.collapsed:before {
  content: "\E69B" !important;
}

.directory-structure .database:before,
.directory-structure .Directory:before {
  content: "\E66B";
  font-family: "metro" !important;
  margin-left: -7px;
  margin-right: 5px;
}

.directory-structure ul {
  font-size: 13px;
}

.directory-structure ul img {
  width: 20px;
  margin-bottom: 3px;
  height: 20px;
}

.iw-cm-arrow-right {
  border-left: 5px solid #ffffff !important;
}

.iw-cm-menu {
  background: #1c2731 !important;
  color: #ffffff !important;
  width: 250px !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  z-index: 9999999 !important;
}

.iw-cm-menu li {
  border-bottom: none !important;
  font-size: 12px !important;
  cursor: default !important;
}

.iw-mSelected {
  background-color: #117ae3 !important;
}

.iw-mIcon {
  margin-left: 5px !important;
}

.editor-tabs {
  background-color: #1c2731;
  border-left: 1px solid #172028;
}

.editor-tabs li {
  border-bottom: 2px solid transparent;
}

.editor-tabs li span.name {
  font-weight: 100;
  white-space: nowrap !important;
}

.editor-tabs li img {
  width: 20px;
  height: 20px;
}

.editor-tabs li.active {
  border-bottom: 2px solid #2f82ff !important;
}

.close-tab {
  color: rgba(255, 255, 255, 0.4) !important;
}

.close-tab:hover {
  color: #f24848 !important;
}

a:hover {
  text-decoration: none !important;
}

/* New Project SASS */

.new_project input {
  color: #ffffff !important;
}

li[data-text=""] {
  display: none !important;
}

/* Close Project SASS */

.close_project img {
  width: 30px;
  margin-bottom: 7px;
}

.close_project .database_list li {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: default !important;
}

.close_project .database_list li.active {
  background-color: #117ae3 !important;
}

.close_project .files_list li {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: default !important;
}

.close_project .files_list li.active {
  background-color: #117ae3 !important;
}

