/node_modules
public/**
!public/index.php
!public/.htaccess
!public/robots.txt
!public/web.config
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
