/node_modules
/public/*
!public/storage
!public/index.php
!public/home.blade.php
!public/.htaccess
!public/Procfile
!public/favicon.ico
/vendor
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
